<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|"/>
    <add name="mobileapiws" connectionString="server=www.dvdpost.be;Port=43306;user id=root;password=(:melissa:);persist security info=True;database=plush_mobile;charset=utf8;Connect Timeout=800000; pooling='true'; Max Pool Size=200" providerName="MySql.Data.MySqlClient"/>
    <add name="prod-WRITE" connectionString="server=www.dvdpost.be;Port=43306;user id=root;password=(:melissa:);persist security info=True;database=plush_staging;Connect Timeout=800000; pooling='true'; Max Pool Size=200 " providerName="MySql.Data.MySqlClient"/>
    <add name="prod-READ" connectionString="server=www.dvdpost.be;Port=43306;user id=root;password=(:melissa:);persist security info=True;database=plush_staging;Connect Timeout=800000; pooling='true'; Max Pool Size=200 " providerName="MySql.Data.MySqlClient"/>
    <!--<add name="mobileapiws" connectionString="server=localhost;Port=3306;user id=root;password=(:melissa:);persist security info=True;database=dvdpost_smarttv;charset=utf8;Connect Timeout=800000; pooling='true'; Max Pool Size=200" providerName="MySql.Data.MySqlClient" />
    <add name="prod-WRITE" connectionString="server=localhost;Port=3306;user id=root;password=(:melissa:);persist security info=True;database=dvdpost_be_prod;Connect Timeout=800000; pooling='true'; Max Pool Size=200 " providerName="MySql.Data.MySqlClient" />
    <add name="prod-READ" connectionString="server=localhost;Port=3306;user id=root;password=(:melissa:);persist security info=True;database=dvdpost_be_prod;Connect Timeout=800000; pooling='true'; Max Pool Size=200 " providerName="MySql.Data.MySqlClient" />-->
    <add name="recommendationsDB" connectionString="server=192.168.100.200;Port=3306;user id=root;password=(:melissa:);persist security info=True;database=dvdpost_be_prod;Connect Timeout=800000; pooling='true'; Max Pool Size=200 " providerName="MySql.Data.MySqlClient"/>
    <add name="DefaultConnection1" connectionString="Data Source = |SQL/CE|"/>
  </connectionStrings>
  <!--<system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <bindings>
      <basicHttpBinding>
        <binding name="soapBinding">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </basicHttpBinding>
      --><!--<webHttpBinding>
        <binding name="httpBinding">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </webHttpBinding>--><!--
      <webHttpBinding>
        <binding name="webHttpBindingWithJsonP" crossDomainScriptAccessEnabled="true">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      --><!--<service behaviorConfiguration="ServiceBehaviour" name="TokenHTTPS.WCFHost.WcfService">
        <endpoint address="https://localhost:12351/WcfService/soap" binding="basicHttpBinding" bindingConfiguration="soapBinding" contract="TokenHTTPS.WCFHost.IWcfSoapService"/>
        <endpoint address="https://localhost:12351/WcfService/http" behaviorConfiguration="WebBehavior" binding="webHttpBinding" bindingConfiguration="httpBinding" contract="TokenHTTPS.WCFHost.IWcfHttpService"/>
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:12351/WcfService"/>
          </baseAddresses>
        </host>
      </service>--><!--
      <service name="TokenHTTPS.WCFHost.WcfService">
        --><!--<endpoint address="https://localhost:12350/api" binding="webHttpBinding"
                  bindingConfiguration="webHttpBindingWithJsonP" contract="TokenHTTPS.WCFHost.IWcfHttpService"
                  behaviorConfiguration="webHttpBehavior"/>--><!--
        <endpoint address="api" binding="webHttpBinding" behaviorConfiguration="jsonBehavior" contract="Service.IServiceContract"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttpBehavior">
          <webHttp/>
        </behavior>
        <behavior name="jsonBehavior">
          <webHttp/>
          <crossOriginResourceSharingBehavior/>
        </behavior>
      </endpointBehaviors>
      --><!--<endpointBehaviors>
        <behavior name="WebBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>--><!--
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceDebug includeExceptionDetailInFaults="False"/>
          <serviceMetadata httpsGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>-->
  <appSettings>
    <add key="ShowRegistration" value="false">
    </add>
    <add key="NmbrRecommanded" value="10">
    </add>
    <add key="UseDVDPostRecommendations" value="false">
    </add>
    <add key="DVDPostRecommendationsUrl" value="http://www.dvdpost.be:2348/recomm/GetMovieToProductsByRating?custID={0}&amp;imdbID={1}&amp;nmbr={2}&amp;isAdult=false">
    </add>
    <add key="TokenLastedInDays" value="2"/>
    <!--add key="VodUrl" value ="http://vod.dvdpost.be:8081/webservice?method=create&amp;filename="/-->
    <add key="VodUrl" value="http://wesecure.alphanetworks.be/Webservice?method=createToken&amp;key=acac0d12ed9061049880bf68f20519e65aa8ecb7&amp;filename="/>
    <add key="NewTokenUrl" value="New"/>
    <add key="AESkey" value="12Wxz34567wef23456"/>
    <add key="ImageServer" value="192.168.100.205"/>
    <add key="GeoCheck" value="True"/>
    <add key="NotGeoCustomer" value="123456,6543210"/>
    <add key="GeoCountries" value="BE"/>
    <add key="countryFilePath" value="D:\GeoIP\GeoIP.dat\GeoIP.dat"/>
    <add key="MovieListTitle1" value="Today's picks"/>
    <add key="MovieListTitle2" value="Today's picks"/>
    <add key="MovieListTitle3" value="Today's picks"/>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <add key="MaxDVDSendByCustomer" value="4"/>
    <add key="prodDBName" value="dvdpost_be_prod"/>
    <add key="MaxRank" value="-1"/>
    <add key="ogone_pspidBE" value="dvdpost"/>
    <add key="ogone_pwdBE" value="mulan3"/>
    <add key="ogone_pspidNL" value="dvdpostnl"/>
    <add key="ogone_pwdNL" value="cameo1"/>
    <add key="Path_BatchOgone" value="d:\temp\"/>
    <add key="Path_Dom80" value="d:\temp\"/>
    <add key="Path_Dom70" value="d:\temp\"/>
    <add key="Path_LOG" value="d:\temp\"/>
    <add key="Path_EskerLoader" value="D:\eskerloader\Soumission\"/>
    <add key="WEBSERVICERECOMMENDATIONS" value="http://partners.thefilter.com/DVDPostService/RecommendationService.ashx?cmd=UserDVDRecommendDVDs&amp;id={0}&amp;number={1}&amp;includeAdult=false&amp;verbose=false"/>
    <add key="WEBSERVICERECOMMENDATIONSFR" value="http://api181.thefilter.com/dvdpost/live/video({0})/recommendation/video?$take={1}&amp;$filter=genre%20eq%20DVD_NORM%20AND%20language%20eq%20French%20AND%20vod%20eq%201"/>
    <add key="WEBSERVICERECOMMENDATIONSNL" value="http://api181.thefilter.com/dvdpost/live/video({0})/recommendation/video?$take={1}&amp;$filter=genre%20eq%20DVD_NORM%20AND%20subTitleLanguage%20eq%20Dutch%20AND%20vod%20eq%201"/>
    <add key="WEBSERVICERECOMMENDATIONSEN" value="http://api181.thefilter.com/dvdpost/live/video({0})/recommendation/video?$take={1}&amp;$filter=genre%20eq%20DVD_NORM%20AND%20language%20eq%20English%20AND%20vod%20eq%201"/>
    <add key="WEBSERVICERECOMMENDATIONSFRUSER" value="http://api181.thefilter.com/dvdpost/live/video/recommendation/video?take={1}&amp;extUserId={0}&amp;$filter=genre%20eq%20DVD_NORM%20AND%20language%20eq%20French%20AND%20vod%20eq%201"/>
    <add key="WEBSERVICERECOMMENDATIONSNLUSER" value="http://api181.thefilter.com/dvdpost/live/video/recommendation/video?$take={1}&amp;extUserId={0}&amp;$filter=genre%20eq%20DVD_NORM%20AND%20subTitleLanguage%20eq%20Dutch%20AND%20vod%20eq%201"/>
    <add key="WEBSERVICERECOMMENDATIONSENUSER" value="http://api181.thefilter.com/dvdpost/live/video/recommendation/video?take={1}&amp;extUserId={0}&amp;$filter=genre%20eq%20DVD_NORM%20AND%20language%20eq%20English%20AND%20vod%20eq%201"/>
    <add key="WEBSERVICERECOMMENDATION" value="http://ISITE/webservice/recommendations.php?customers_id=IID&amp;limit=7"/>
    <add key="WEBSERVICESPONSOR" value="http://ISITE/webservice/actions.php?customers_id=IID&amp;activation_code=ICODE"/>
    <add key="WEBSERVICELINKCARD" value="http://ISITE/webservice/gfc.php?customers_id=IID&amp;codes=ICODE"/>
    <add key="WEBSERVICESUSPEND" value="http://ISITE/webservice/suspend.php?customer_id=IID&amp;type=ITYPESUSPEND&amp;duration=IDAYS&amp;user_id=IUSERS"/>
    <add key="WEBSERVICEUNSUSPEND" value="http://ISITE/webservice/unsuspend.php?customer_id=IID&amp;type=ITYPESUSPEND&amp;duration=IDAYS&amp;user_id=IUSERS"/>
    <add key="WEBSERVICEMOVIEDETAILS" value="http://ISITE/webservice/movie_detail.php?product_id=IPRODUCT&amp;customer_id=IID&amp;type=ISEND "/>
    <add key="WEBSERVICEVOD" value="http://ISITE/webservice/vod_selection.php?limit=7&amp;customer_id=IID "/>
    <add key="WEBSERVICERECOMMANDATIONDVD" value="http://ISITE/webservice/recommendations_dvd_to_dvd.php?product_id=IPRODUCT&amp;limit=7&amp;customer_id=IID "/>
    <add key="FILEZILLATEMPLATE" value="Z:\VOD\FileZilla Template\filezilla.xml"/>
    <add key="WEBSITEVOD" value="http://beta.dvdpost.com/fr/streaming_products/"/>
    <!--<add key ="Path_BatchOgone" value ="Z:\finance\ogone\batch ogone\"/>-->
    <!--<add key="StatusBarPanel2.Text" value=""/>
		<add key="XrLabel26.Visible" value="True"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
